.load-more {
  background-color: rgb(22, 38, 163);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.photo-card {
  text-align: center;
  border-radius: 5px;
  border-color: gray;
  border: solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.photo-card img {
  width: 100%;
  height: auto;
}

.search-form {
  padding: 10;
  width: 100%;
  background-color: rgb(107, 173, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.submit {
  background-color: rgb(22, 38, 163);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-text {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-color: lightblue;
}
.form-wrapper {
  display: flex;
}
.info {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
