.load-more {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search-form {
  padding: 30 100;
  position: absolute;
  right: 50%;
  background-color: rgb(107, 173, 231);
}
.submit {
  background-color: rgb(22, 38, 163);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-text {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-color: lightblue;
}
